{% extends 'base.html' %}

{% block title %}Login - Online Shop{% endblock %}

{% block content %}
  <div class="container form">
    {% if form.errors %}
      {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email" name="username">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" name="password" placeholder="Mot de passe">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Se connecter</button>
        <a href="{% url 'register' %}" class="btn btn-secondary mb-3">S'inscrire</a>
      </div>
    </form>
  </div>
{% endblock %}
