{% extends 'base.html' %}

{% block title %}Liste des produits - Online Shop{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for product in products %}
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div style="max-height: 163px">
              <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }} - {{ product.price }} GNF (En promo 10% - {{ product.reduce_price }})</h5>
              <h6>{{ product.category.name }}</h6>
              <p class="card-text">{{ product.description }}</p>
              <a href="{% url 'product_detail' product.uid %}" class="btn btn-primary">Voir plus</a>
              <button type="button" class="btn btn-success add-to-cart" data-product-uid="{{ product.uid }}">
                Ajouter au panier
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
      document.querySelectorAll('.add-to-cart').forEach(button => {
        button.addEventListener('click', function(event){
          const productId = event.target.getAttribute('data-product-uid');
          fetch('{% url "add_to_cart" %}', {
            method:'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
              'product_uid': productId,
              'quantity': 1,
            })
          })
          .then(response => response.json())
          .then(data => {
            if(data.success){
              alertify.success('Produit ajouté au panier');
              button.setAttribute('disabled', '');
            }else{
              alertify.error(data.message);
              button.setAttribute('disabled', '');
              button.innerHTML = 'Déjà ajouté';
            }
          })
          .catch(error => console.log("Error ajout panier", error))
        })
      })
    })
  </script>
{% endblock %}
