{% extends 'base.html' %}

{% block title %}Détail du produit - Online Shop{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="card w-75">
        <div class="card-body">
          <img src="{{ product.image.url }}" alt="L'image d'un produit">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.price }}</p>
          <p class="card-text">{{ product.quantity }}</p>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
